<h2>Atualizar <%= @user.nome %></h2>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :cargo,
                required: false,
                input_html: { autocomplete: "Nome completo" } %>
    <%= f.input :salário,
                required: false,
                input_html: { autocomplete: "Nome completo" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Atualizar", class: "main-btn" %>
  </div>
<% end %>

<%= link_to "Voltar", :back %>
