<%= link_to "Adicionar novo funcion치rio", new_user_path, class: "text-center" %>

<%= render 'shared/search-bar' %>

<% if @searched == true %>
  <h2 class="text-center">Seus resultados:</h2>
<% else %>
  <h2 class="text-center">Todos os funcion치rios</h2>
<% end %>

<div class="users-container">
  <% @users.each do |user| %>
    <div class="user">
      <p class="text-center">Nome: <%= user.nome %> | Cargo: <%= user.cargo %> | Sal치rio: <%= user.sal치rio %> | Email: <%= user.email %></p>
      <div class="user-icons">
        <%= link_to "<i class='fas fa-user'></i>".html_safe, user_path(user) %>
        <%= link_to "<i class='fas fa-wrench'></i>".html_safe, edit_user_path(user) %>
        <% if user.admin == false %>
          <%= link_to "<i class='fas fa-trash'></i>".html_safe, user_path(user), method: :delete, data: { confirm: "Tem certeza?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>