<navbar class="navbar-default navbar-fixed-top home-navbar">
  <div class="navbar-content">
    <%= link_to root_path, class: "main-logo" do %>
        <%= image_tag "https://i.postimg.cc/tJtq3cR3/navbar-logo.png" %>
    <% end %>

    <% if user_signed_in? %>
      <div class="right-side-navbar">
          <div class="link-to-pages">        
            <%= link_to "Perfil", user_path(current_user) %>
            <% if current_user.admin? %>
              <%= link_to "Funcionários", users_path %>
            <% end %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete %>
          </div>
      </div>
    <% else %>
      <div class="right-side-navbar">
          <div class="link-to-pages"> 
            <%= link_to "Entrar", new_user_session_path %>
          </div>
      </div>
    <% end %>
    
  </div>
</navbar>